<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>   
    {% with messages = get_flashed_messages() %} 
        {% if messages %} 
            {% for message in messages %}
    <p id="success">{{message}}</p>
            <br> {% endfor %} 
        {% endif %} 
    {% endwith %}

    <h3> Email Addresses Entered: </h3>
    <table>
        <tr>
            <th>Email</th>
            <th>Date</th>
        </tr>
        {% for email in emails: %}
        <tr>
            <td> {{ email['email'] }}</td>
            <td>{{ email['created_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <form action="/delete" method="POST">
        Email Id :
        <input type="email" name="email">
        <button type="submit">Delete</button>
    </form>
</body>

</html>